.headers, .header-spaces,
.footers, .footer-spaces {
  height: 100px;
}
.headers {
  position: fixed;
  top: 0;
}
.footers {
  position: fixed;
  bottom: 0;
}

.contents {
  position: fixed;
  width: 100%;
  border: 4px solid #000000;
  border-collapse: collapse;
  padding: 5%;
}