/* digunakan di pm report form */
.force-has-danger {
    color: #f44336 !important;
}

.main-panel.no-sidebar {
    width: 100%;
    float: none;
}

.navbar.navbar-static {
    position: static;
    width: 100%;
    padding-top: 10px;
    z-index: 1029;
}

.no-margin .content {
    margin-top: 0 !important;
}

/* 
*  
*/
#towers {
    height: 100px;
    width: 85px;
}

.form-group-site {
    position: relative;
    margin-top: auto;
}

.hidden {
    display: none !important;
}

.select2 {
    width: 20vw !important;
}

.has-error .select2-selection {
    border-color: rgb(185, 74, 72) !important;
    border-width: 3px;
}

.image-upload-preview {
    width: 35vw !important;
    height: auto !important;
}
/*
 * Try to fix modal adding padding to the right
 * If this code cause problem remove fade class
 * from modal or delete this code
 */
.modal-open {
    overflow: auto;
    padding-right: 0 !important;
}

/* 
 *  CK EDITOR STYLING
 */
.editor__editable,
/* Classic build. */
main .ck-editor[role='application'] .ck.ck-content
/* Decoupled document build. */
.ck.editor__editable[role='textbox'],
.ck.ck-editor__editable[role='textbox'] {
    line-height: 1.6em !important;
    width: 73vw;
    min-height: 400px;
}

.ck.ck-editor__editable > .ck-placeholder::before {
    color: #f44336;
    font-weight: 400;
}

select.form-control:not([size]):not([multiple]) {
    width: 50% !important;
}
