/* digunakan di pm report form */
.force-has-danger {
    color: #f44336 !important;
}

.main-panel.no-sidebar {
    width: 100%;
    float: none;
}

/* NANTI CKEDITOR DIBUAT RESPONSIVE */
.ck-editor__editable {
    min-height: auto !important;
    min-width: auto !important;
}

.ck.ck-editor__editable > .ck-placeholder::before {
    color: #f44336;
    font-weight: 400;
}

/* 
  * Digunakan pada tabel rekomendasi sparepart
  * pada form create pm/cm untuk mengoveride 
  * posisi icon yang margin topnya negatif
  * KYKNYA UDH GADIPAKE
   */
.btn .material-icons.shoping {
    margin-top: 0;
    margin-bottom: 0;
}

/* 
*  
*/
#towers {
    height: 100px;
    width: 85px;
}

.form-group-site {
    position: relative;
}

.hidden {
    display: none !important;
}

.select2 {
    width: 20vw !important;
}

.has-error .select2-selection {
    border-color: rgb(185, 74, 72) !important;
    border-width: 3px;
}

.image-upload-preview {
    width: 35vw !important;
    height: auto !important;
}